@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 209, 210, 211;
  --background-start-rgb: 26, 29, 33;
  --background-end-rgb: 26, 29, 33;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  overflow: hidden; /* Dôležité: Slack štýl nesmie scrolovať celú obrazovku */
}

/* Fix pre biele pozadie v obsahu */
main {
  background-color: #f8f8f8;
}
